<% content_for :head do %>
  <link rel="stylesheet" href="/assets/gauge-js/gauge.min.css?v4.0.2">
<% end %>
<% content_for :scripts do %>
  <!-- Plugins -->
  <script src="/assets/switchery.js"></script>
  <script src="/assets/intro.js"></script>
  <script src="/assets/screenfull.js"></script>
  <script src="/assets/slidepanel/jquery-slidePanel.min.js?v4.0.2"></script>

  <!-- Plugins For This Page -->
  <script src="/assets/gauge-js/gauge.min.js?v4.0.2"></script>

  <!-- Scripts -->
  <script src="/assets/Component.js"></script>
  <script src="/assets/Plugin.js"></script>
  <script src="/assets/Base.js"></script>
  <script src="/assets/Config.js"></script>

  <script src="/assets/Section/Menubar.js"></script>
  <script src="/assets/Section/GridMenu.js"></script>
  <script src="/assets/Section/Sidebar.js"></script>
  <script src="/assets/Section/PageAside.js"></script>
  <script src="/assets/Plugin/menu.js"></script>

  <!-- Config -->
  <script src="/assets/config/colors.js"></script>
  <script src="/assets/config/tour.js"></script>
  <script>Config.set('assets', '/assets');</script>

  <!-- Page -->
  <script src="/assets/Site.min.js?v4.0.2"></script>
  <script src="/assets/Plugin/asscrollable.min.js?v4.0.2"></script>
  <script src="/assets/Plugin/slidepanel.min.js?v4.0.2"></script>
  <script src="/assets/Plugin/switchery.min.js?v4.0.2"></script>
  <script src="/assets/Plugin/gauge.min.js?v4.0.2"></script>
  <script src="/assets/Plugin/donut.min.js?v4.0.2"></script>
  <script src="/assets/charts/gauges.min.js?v4.0.2"></script>
<% end %>
<div class="page">
  <div class="page-header">
    <h1 class="page-title">Gauges Charts</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Charts</a></li>
      <li class="breadcrumb-item active">Gauges</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="https://bernii.github.io/gauge.js/" target="_blank">
      <i class="icon wb-link" aria-hidden="true"></i>
      <span class="hidden-sm-down">Official Website</span>
    </a>
    </div>
  </div>

  <div class="page-content container-fluid">
    <!-- Panel Gauge -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Gauge</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-md-6">

            <!-- Example Gauge Basic -->
            <div class="example-wrap">
              <h4 class="example-title">Basic</h4>
              <div class="example">

                <div class="gauge" data-plugin="gauge" data-value="2190" data-max-value="3000">
                  <canvas width="160" height="120" style="width: 200px; height: 150px;"></canvas>
                </div>
              </div>
            </div>
            <!-- End Example Gauge Basic -->
          </div>

          <div class="col-md-6">
            <!-- Example Gauge Dynamic -->
            <div class="example-wrap">
              <h4 class="example-title">Dynamic</h4>
              <div class="example">
                <div class="gauge" id="exampleDynamicGauge" data-plugin="gauge" data-value="870" data-max-value="1000" data-stroke-color="#ff5e97">
                  <div class="gauge-label">880</div>
                  <canvas width="160" height="120" style="width: 200px; height: 150px;"></canvas>
                </div>
              </div>
            </div>
            <!-- End Example Gauge Dynamic -->
          </div>
        </div>


        <!-- Example Gauge Sizing -->
        <div class="example-wrap">
          <h4 class="example-title">Sizing</h4>

          <div class="row row-lg">
            <div class="col-md-4">
              <div class="gauge gauge-lg" data-plugin="gauge" data-value="2190" data-max-value="3000">
                <div class="gauge-label">2,190</div>
                <canvas width="240" height="176" style="width: 300px; height: 220px;"></canvas>
              </div>
            </div>

            <div class="col-md-4">
              <div class="gauge" data-plugin="gauge" data-value="2190" data-max-value="3000">
                <div class="gauge-label">2,190</div>
                <canvas width="160" height="120" style="width: 200px; height: 150px;"></canvas>
              </div>
            </div>

            <div class="col-md-4">
              <div class="gauge gauge-sm" data-plugin="gauge" data-value="2190" data-max-value="3000">
                <div class="gauge-label">2,190</div>
                <canvas width="120" height="88" style="width: 150px; height: 110px;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- End Example Gauge Sizing -->
      </div>
    </div>
    <!-- End Panel Gauge -->

    <!-- Panel Donut -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Donut</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-md-6">

            <!-- Example Donut Basic -->
            <div class="example-wrap">
              <h4 class="example-title">Basic</h4>
              <div class="example">
                <div class="donut" data-plugin="donut" data-value="1280" data-max-value="2000">
                  <canvas width="160" height="120" style="width: 200px; height: 150px;"></canvas>
                </div>
              </div>
            </div>
            <!-- End Example Donut Basic -->
          </div>

          <div class="col-md-6">
            <!-- Example Donut Dynamic -->
            <div class="example-wrap">
              <h4 class="example-title">Dynamic</h4>
              <div class="example">
                <div class="donut" id="exampleDynamicDonut" data-plugin="donut" data-value="870" data-max-value="1000" data-stroke-color="#ff5e97">
                  <div class="donut-label">869</div>
                  <canvas width="160" height="120" style="width: 200px; height: 150px;"></canvas>
                </div>
              </div>
            </div>
            <!-- End Example Donut Dynamic -->
          </div>
        </div>

        <!-- Example Donut Sizing -->
        <div class="example-wrap">
          <h4 class="example-title">Sizing</h4>

          <div class="row row-lg">
            <div class="col-md-4">
              <div class="donut donut-lg" data-plugin="donut" data-value="1280" data-max-value="2000">
                <div class="donut-label">1,280</div>
                <canvas width="240" height="176" style="width: 300px; height: 220px;"></canvas>
              </div>
            </div>

            <div class="col-md-4">
              <div class="donut" data-plugin="donut" data-value="1280" data-max-value="2000">
                <div class="donut-label">1,280</div>
                <canvas width="160" height="120" style="width: 200px; height: 150px;"></canvas>
              </div>
            </div>

            <div class="col-md-4">
              <div class="donut donut-sm" data-plugin="donut" data-value="1280" data-max-value="2000">
                <div class="donut-label">1,280</div>
                <canvas width="120" height="88" style="width: 150px; height: 110px;"></canvas>
              </div>
            </div>
          </div>

        </div>
        <!-- End Example Donut Sizing -->
      </div>
    </div>
    <!-- End Panel Donut -->

  </div>
</div>