<div class="page">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <!-- First Row -->
      <!-- Completed Options Pie Widgets -->
      <div class="col-xxl-3" style="">
        <div class="row h-full" data-plugin="matchHeight">
          <div class="col-xxl-12 col-lg-4 col-sm-4" style="height: 219.57px;">
            <div class="card card-shadow card-completed-options">
              <div class="card-block p-30">
                <div class="row">
                  <div class="col-6">
                    <div class="counter text-left blue-grey-700">
                      <div class="counter-label mt-10">Tasks Completed
                      </div>
                      <div class="counter-number font-size-40 mt-10">
                        1,234
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100" data-barcolor="#57c7d4" data-size="100" data-barsize="10" data-goal="86" aria-valuenow="86" role="progressbar">
                      <span class="pie-progress-number blue-grey-700 font-size-20">
                        86%
                      </span>
                    <div class="pie-progress-svg"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 100 100"><ellipse rx="45" ry="45" cx="50" cy="50" stroke="#f2f2f2" fill="none" stroke-width="10"></ellipse><path fill="none" stroke-width="10" stroke="#57c7d4" d="M50,5 A45,45 0 1 1 15.326904075089466,21.31592046130898" style="stroke-dasharray: 243.173, 243.173; stroke-dashoffset: 0;"></path></svg></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-12 col-lg-4 col-sm-4" style="height: 219.57px;">
            <div class="card card-shadow card-completed-options">
              <div class="card-block p-30">
                <div class="row">
                  <div class="col-6">
                    <div class="counter text-left blue-grey-700">
                      <div class="counter-label mt-10">Points Completed
                      </div>
                      <div class="counter-number font-size-40 mt-10">
                        698
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100" data-barcolor="#62a8ea" data-size="100" data-barsize="10" data-goal="62" aria-valuenow="62" role="progressbar">
                      <span class="pie-progress-number blue-grey-700 font-size-20">
                        62%
                      </span>
                    <div class="pie-progress-svg"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 100 100"><ellipse rx="45" ry="45" cx="50" cy="50" stroke="#f2f2f2" fill="none" stroke-width="10"></ellipse><path fill="none" stroke-width="10" stroke="#62a8ea" d="M50,5 A45,45 0 1 1 19.195380233209022,82.80358823396352" style="stroke-dasharray: 175.309, 175.309; stroke-dashoffset: 0;"></path></svg></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-12 col-lg-4 col-sm-4" style="height: 219.57px;">
            <div class="card card-shadow card-completed-options">
              <div class="card-block p-30">
                <div class="row">
                  <div class="col-6">
                    <div class="counter text-left blue-grey-700">
                      <div class="counter-label mt-10">Cards Completed
                      </div>
                      <div class="counter-number font-size-40 mt-10">
                        1,358
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100" data-barcolor="#926dde" data-size="100" data-barsize="10" data-goal="56" aria-valuenow="56" role="progressbar">
                      <span class="pie-progress-number blue-grey-700 font-size-20">
                        56%
                      </span>
                    <div class="pie-progress-svg"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 100 100"><ellipse rx="45" ry="45" cx="50" cy="50" stroke="#f2f2f2" fill="none" stroke-width="10"></ellipse><path fill="none" stroke-width="10" stroke="#926dde" d="M50,5 A45,45 0 1 1 33.4343951291895,91.83994186497131" style="stroke-dasharray: 158.34, 158.34; stroke-dashoffset: 0;"></path></svg></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Completed Options Pie Widgets -->
      <!-- Team Total Completed -->
      <div class="col-xxl-9" style="">
        <div id="teamCompletedWidget" class="card card-shadow example-responsive">
          <div class="card-block p-20 pb-25">
            <div class="row pb-40" data-plugin="matchHeight">
              <div class="col-md-6 col-sm-12" style="height: 115.234px;">
                <div class="counter text-left pl-10">
                  <div class="counter-label">Team Total Completed</div>
                  <div class="counter-number-group text-truncate">
                    <span>1,439</span>
                    <span>86%</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12" style="height: 115.234px;">
                <ul class="list-inline mr-50">
                  <li class="list-inline-item">
                    Task Completed
                  </li>
                  <li class="list-inline-item">
                    Cards Completed
                  </li>
                </ul>
              </div>
            </div>
            <div class="ct-chart"><div class="chartist-tooltip"></div><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="453" class="ct-chart-line" style="width: 100%; height: 453px;"><g class="ct-grids"><line x1="40" x2="40" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="129.25" x2="129.25" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="218.5" x2="218.5" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="307.75" x2="307.75" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="397" x2="397" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="486.25" x2="486.25" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="575.5" x2="575.5" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="664.75" x2="664.75" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="754" x2="754" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="843.25" x2="843.25" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line x1="932.5" x2="932.5" y1="15" y2="410.98828125" class="ct-grid ct-horizontal"></line><line y1="331.790625" y2="331.790625" x1="40" x2="932.5" class="ct-grid ct-vertical"></line><line y1="252.59296875" y2="252.59296875" x1="40" x2="932.5" class="ct-grid ct-vertical"></line><line y1="173.3953125" y2="173.3953125" x1="40" x2="932.5" class="ct-grid ct-vertical"></line><line y1="94.19765625000002" y2="94.19765625000002" x1="40" x2="932.5" class="ct-grid ct-vertical"></line><line y1="15" y2="15" x1="40" x2="932.5" class="ct-grid ct-vertical"></line></g><g><g ct:series-name="series-1" class="ct-series ct-series-a"><path d="M40,410.988L40,410.988C69.75,387.229,99.5,372.973,129.25,339.71C159,306.447,188.75,226.062,218.5,173.395C248.25,120.729,278,22.92,307.75,22.92C337.5,22.92,367.25,51.82,397,74.398C426.75,96.977,456.5,137.396,486.25,173.395C516,209.394,545.75,292.192,575.5,292.192C605.25,292.192,635,283.392,664.75,272.392C694.5,261.393,724.25,173.395,754,173.395C783.75,173.395,813.5,331.791,843.25,331.791C873,331.791,902.75,218.274,932.5,161.516L932.5,410.988Z" class="ct-area"></path><path d="M40,410.988C69.75,387.229,99.5,372.973,129.25,339.71C159,306.447,188.75,226.062,218.5,173.395C248.25,120.729,278,22.92,307.75,22.92C337.5,22.92,367.25,51.82,397,74.398C426.75,96.977,456.5,137.396,486.25,173.395C516,209.394,545.75,292.192,575.5,292.192C605.25,292.192,635,283.392,664.75,272.392C694.5,261.393,724.25,173.395,754,173.395C783.75,173.395,813.5,331.791,843.25,331.791C873,331.791,902.75,218.274,932.5,161.516" class="ct-line"></path><line x1="40" y1="410.98828125" x2="40.01" y2="410.98828125" class="ct-point" ct:value="0"></line><line x1="40" y1="410.98828125" x2="40.01" y2="410.98828125" class="ct-point-content"></line><line x1="129.25" y1="339.710390625" x2="129.26" y2="339.710390625" class="ct-point" ct:value="180"></line><line x1="129.25" y1="339.710390625" x2="129.26" y2="339.710390625" class="ct-point-content"></line><line x1="218.5" y1="173.3953125" x2="218.51" y2="173.3953125" class="ct-point" ct:value="600"></line><line x1="218.5" y1="173.3953125" x2="218.51" y2="173.3953125" class="ct-point-content"></line><line x1="307.75" y1="22.919765625000025" x2="307.76" y2="22.919765625000025" class="ct-point" ct:value="980"></line><line x1="307.75" y1="22.919765625000025" x2="307.76" y2="22.919765625000025" class="ct-point-content"></line><line x1="397" y1="74.39824218749999" x2="397.01" y2="74.39824218749999" class="ct-point" ct:value="850"></line><line x1="397" y1="74.39824218749999" x2="397.01" y2="74.39824218749999" class="ct-point-content"></line><line x1="486.25" y1="173.3953125" x2="486.26" y2="173.3953125" class="ct-point" ct:value="600"></line><line x1="486.25" y1="173.3953125" x2="486.26" y2="173.3953125" class="ct-point-content"></line><line x1="575.5" y1="292.191796875" x2="575.51" y2="292.191796875" class="ct-point" ct:value="300"></line><line x1="575.5" y1="292.191796875" x2="575.51" y2="292.191796875" class="ct-point-content"></line><line x1="664.75" y1="272.3923828125" x2="664.76" y2="272.3923828125" class="ct-point" ct:value="350"></line><line x1="664.75" y1="272.3923828125" x2="664.76" y2="272.3923828125" class="ct-point-content"></line><line x1="754" y1="173.3953125" x2="754.01" y2="173.3953125" class="ct-point" ct:value="600"></line><line x1="754" y1="173.3953125" x2="754.01" y2="173.3953125" class="ct-point-content"></line><line x1="843.25" y1="331.790625" x2="843.26" y2="331.790625" class="ct-point" ct:value="200"></line><line x1="843.25" y1="331.790625" x2="843.26" y2="331.790625" class="ct-point-content"></line><line x1="932.5" y1="161.5156640625" x2="932.51" y2="161.5156640625" class="ct-point" ct:value="630"></line><line x1="932.5" y1="161.5156640625" x2="932.51" y2="161.5156640625" class="ct-point-content"></line></g><g ct:series-name="series-2" class="ct-series ct-series-b"><path d="M40,410.988L40,410.988C69.75,397.789,99.5,392.712,129.25,371.389C159,350.067,188.75,250.362,218.5,205.074C248.25,159.787,278,90.238,307.75,90.238C337.5,90.238,367.25,146.059,397,165.476C426.75,184.892,456.5,212.994,486.25,212.994C516,212.994,545.75,161.516,575.5,161.516C605.25,161.516,635,247.736,664.75,252.593C694.5,257.45,724.25,260.513,754,260.513C783.75,260.513,813.5,250.613,843.25,250.613C873,250.613,902.75,302.092,932.5,327.831L932.5,410.988Z" class="ct-area"></path><path d="M40,410.988C69.75,397.789,99.5,392.712,129.25,371.389C159,350.067,188.75,250.362,218.5,205.074C248.25,159.787,278,90.238,307.75,90.238C337.5,90.238,367.25,146.059,397,165.476C426.75,184.892,456.5,212.994,486.25,212.994C516,212.994,545.75,161.516,575.5,161.516C605.25,161.516,635,247.736,664.75,252.593C694.5,257.45,724.25,260.513,754,260.513C783.75,260.513,813.5,250.613,843.25,250.613C873,250.613,902.75,302.092,932.5,327.831" class="ct-line"></path><line x1="40" y1="410.98828125" x2="40.01" y2="410.98828125" class="ct-point" ct:value="0"></line><line x1="40" y1="410.98828125" x2="40.01" y2="410.98828125" class="ct-point-content"></line><line x1="129.25" y1="371.389453125" x2="129.26" y2="371.389453125" class="ct-point" ct:value="100"></line><line x1="129.25" y1="371.389453125" x2="129.26" y2="371.389453125" class="ct-point-content"></line><line x1="218.5" y1="205.074375" x2="218.51" y2="205.074375" class="ct-point" ct:value="520"></line><line x1="218.5" y1="205.074375" x2="218.51" y2="205.074375" class="ct-point-content"></line><line x1="307.75" y1="90.23777343749998" x2="307.76" y2="90.23777343749998" class="ct-point" ct:value="810"></line><line x1="307.75" y1="90.23777343749998" x2="307.76" y2="90.23777343749998" class="ct-point-content"></line><line x1="397" y1="165.475546875" x2="397.01" y2="165.475546875" class="ct-point" ct:value="620"></line><line x1="397" y1="165.475546875" x2="397.01" y2="165.475546875" class="ct-point-content"></line><line x1="486.25" y1="212.994140625" x2="486.26" y2="212.994140625" class="ct-point" ct:value="500"></line><line x1="486.25" y1="212.994140625" x2="486.26" y2="212.994140625" class="ct-point-content"></line><line x1="575.5" y1="161.5156640625" x2="575.51" y2="161.5156640625" class="ct-point" ct:value="630"></line><line x1="575.5" y1="161.5156640625" x2="575.51" y2="161.5156640625" class="ct-point-content"></line><line x1="664.75" y1="252.59296875" x2="664.76" y2="252.59296875" class="ct-point" ct:value="400"></line><line x1="664.75" y1="252.59296875" x2="664.76" y2="252.59296875" class="ct-point-content"></line><line x1="754" y1="260.51273437500004" x2="754.01" y2="260.51273437500004" class="ct-point" ct:value="380"></line><line x1="754" y1="260.51273437500004" x2="754.01" y2="260.51273437500004" class="ct-point-content"></line><line x1="843.25" y1="250.61302734375" x2="843.26" y2="250.61302734375" class="ct-point" ct:value="405"></line><line x1="843.25" y1="250.61302734375" x2="843.26" y2="250.61302734375" class="ct-point-content"></line><line x1="932.5" y1="327.8307421875" x2="932.51" y2="327.8307421875" class="ct-point" ct:value="210"></line><line x1="932.5" y1="327.8307421875" x2="932.51" y2="327.8307421875" class="ct-point-content"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="40" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">Apr</span></foreignObject><foreignObject style="overflow: visible;" x="129.25" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">May</span></foreignObject><foreignObject style="overflow: visible;" x="218.5" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">Jun</span></foreignObject><foreignObject style="overflow: visible;" x="307.75" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">Jul</span></foreignObject><foreignObject style="overflow: visible;" x="397" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">Aug</span></foreignObject><foreignObject style="overflow: visible;" x="486.25" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">Sep</span></foreignObject><foreignObject style="overflow: visible;" x="575.5" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">Oct</span></foreignObject><foreignObject style="overflow: visible;" x="664.75" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">Nov</span></foreignObject><foreignObject style="overflow: visible;" x="754" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">Dec</span></foreignObject><foreignObject style="overflow: visible;" x="843.25" y="415.98828125" width="89.25" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 89px; height: 20px;">Jan</span></foreignObject><foreignObject style="overflow: visible;" x="932.5" y="415.98828125" width="30" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 30px; height: 20px;">Feb</span></foreignObject><foreignObject style="overflow: visible;" y="252.59296874999998" x="10" height="79.19765625" width="20"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 79px; width: 20px;">200</span></foreignObject><foreignObject style="overflow: visible;" y="173.3953125" x="10" height="79.19765625000002" width="20"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 79px; width: 20px;">400</span></foreignObject><foreignObject style="overflow: visible;" y="94.19765625000002" x="10" height="79.19765624999997" width="20"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 79px; width: 20px;">600</span></foreignObject><foreignObject style="overflow: visible;" y="15" x="10" height="79.19765625000002" width="20"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 79px; width: 20px;">800</span></foreignObject><foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="20"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 20px;">1000</span></foreignObject></g></svg></div>
          </div>
        </div>
      </div>
      <!-- End Team Total Completed -->
      <!-- End First Row -->
      <!-- Second Row -->
      <!-- Personal -->
      <div class="col-xxl-4 col-xl-6 col-lg-6" style="height: 696.738px;">
        <div id="personalCompletedWidget" class="card card-shadow pb-20">
          <div class="card-header card-header-transparent cover overlay">
            <img class="cover-image" src="/assets/photos/view-7-960x640.jpg">
            <div class="overlay-panel overlay-background vertical-align">
              <div class="vertical-align-middle">
                <a class="avatar" href="javascript:void(0)">
                  <img alt="" src="/assets/portraits/4.jpg">
                </a>
                <div class="font-size-20 mt-10">MACHI</div>
                <div class="font-size-14">machidesign@163.com</div>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="row text-center mb-20">
              <div class="col-6">
                <div class="counter">
                  <div class="counter-label total-completed">TOTAL COMPLETED</div>
                  <div class="counter-number red-600">1,628</div>
                </div>
              </div>
              <div class="col-6">
                <div class="counter">
                  <div class="counter-label">TOTAL TIME</div>
                  <div class="counter-number blue-600">17</div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <caption>TODAY STATISTIC</caption>
                <tbody>
                  <tr>
                    <td>
                      Tasks Completed
                    </td>
                    <td>
                      <div class="progress progress-xs mb-0">
                        <div class="progress-bar progress-bar-info bg-blue-600" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        </div>
                      </div>
                    </td>
                    <td>
                      90%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cards Completed
                    </td>
                    <td>
                      <div class="progress progress-xs mb-0">
                        <div class="progress-bar progress-bar-info bg-green-600" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%">
                        </div>
                      </div>
                    </td>
                    <td>
                      86%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Points Completed
                    </td>
                    <td>
                      <div class="progress progress-xs mb-0">
                        <div class="progress-bar progress-bar-info bg-red-600" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%">
                        </div>
                      </div>
                    </td>
                    <td>
                      68%
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End Personal -->
      <!-- To Do List -->
      <div class="col-xxl-4 col-xl-6 col-lg-6" style="height: 696.738px;">
        <div id="toDoListWidget" class="card card-shadow card-lg pb-20">
          <div class="card-header card-header-transparent">
            <div class="card-header-actions">
              <a id="addNewItemBtn" href="javascript:void(0)" class="add-item-toggle">
              <i class="icon wb-plus" aria-hidden="true"></i>
            </a>
            </div>
            <h5 class="card-title">TO DO LIST</h5>
          </div>
          <ul class="list-group h-500 scrollable is-enabled scrollable-vertical" data-plugin="scrollable" style="position: relative;">
            <div data-role="container" class="scrollable-container" style="height: 500px; width: 438px;">
              <div data-role="content" class="scrollable-content" style="width: 419px;">
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox" checked="checked">
                    <label class="item-title">Edit meeting record</label>
                  </div>
                  <div class="w-full">
                    <div class="item-due-date">
                      <span>Tue,aug 25</span>
                    </div>
                    <ul class="item-members">
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/3.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox" checked="checked">
                    <label class="item-title">Upload Photos and Video</label>
                  </div>
                  <div class="item-due-date">
                    <span>Tue,aug 25</span>
                  </div>
                </li>
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox">
                    <label class="item-title">Edit the blog system</label>
                  </div>
                  <div class="w-full">
                    <div class="item-due-date">
                      <span>No due date</span>
                    </div>
                    <ul class="item-members">
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/1.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/5.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox">
                    <label class="item-title">Edit the blog system</label>
                  </div>
                  <div class="w-full">
                    <div class="item-due-date">
                      <span>No due date</span>
                    </div>
                    <ul class="item-members">
                      <li>
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox">
                    <label class="item-title">Edit the blog system</label>
                  </div>
                  <div class="w-full">
                    <div class="item-due-date">
                      <span>No due date</span>
                    </div>
                    <ul class="item-members">
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/4.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/6.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/7.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox" checked="checked">
                    <label class="item-title">Edit meeting record</label>
                  </div>
                  <div class="w-full">
                    <div class="item-due-date">
                      <span>Tue,aug 25</span>
                    </div>
                    <ul class="item-members">
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/3.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox" checked="checked">
                    <label class="item-title">Upload Photos and Video</label>
                  </div>
                  <div class="item-due-date">
                    <span>Tue,aug 25</span>
                  </div>
                </li>
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox">
                    <label class="item-title">Edit the blog system</label>
                  </div>
                  <div class="w-full">
                    <div class="item-due-date">
                      <span>No due date</span>
                    </div>
                    <ul class="item-members">
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/1.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/5.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox">
                    <label class="item-title">Edit the blog system</label>
                  </div>
                  <div class="w-full">
                    <div class="item-due-date">
                      <span>No due date</span>
                    </div>
                    <ul class="item-members">
                      <li>
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="list-group-item flex-column align-items-start">
                  <div class="checkbox-custom checkbox-success checkbox-lg">
                    <input type="checkbox" name="checkbox">
                    <label class="item-title">Edit the blog system</label>
                  </div>
                  <div class="w-full">
                    <div class="item-due-date">
                      <span>No due date</span>
                    </div>
                    <ul class="item-members">
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/4.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/6.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                      <li>
                        <img class="avatar avatar-sm" src="/assets/portraits/7.jpg">
                        <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                          <i class="icon wb-pencil" aria-hidden="true"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </li>
              </div>
            </div>
          <div class="scrollable-bar scrollable-bar-vertical scrollable-bar-hide" draggable="false"><div class="scrollable-bar-handle" style="height: 251.274px;"></div></div></ul>
        </div>
      </div>
      <!-- End To Do List -->
      <!-- Recent Activity -->
      <div class="col-xxl-4" style="">
        <div id="recentActivityWidget" class="card card-shadow card-lg pb-20">
          <div class="card-header card-header-transparent pb-10">
            <div class="card-header-actions">
              <span class="badge badge-default badge-round">VIEW ALL</span>
            </div>
            <h5 class="card-title">
              RECENT ACTIVITY
            </h5>
          </div>
          <ul class="timeline timeline-icon">
            <li class="timeline-reverse timeline-item">
              <div class="timeline-content-wrap">
                <div class="timeline-dot bg-green-600">
                  <i class="icon wb-chat" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                  <div class="title">
                    <span class="authors">Victor Erixon</span> assigned to a task
                  </div>
                  <div class="metas">
                    active 14 minutes ago
                  </div>
                  <ul class="members">
                    <li>
                      <img class="avatar avatar-sm" src="/assets/portraits/7.jpg">
                    </li>
                    <li>
                      <img class="avatar avatar-sm" src="/assets/portraits/6.jpg">
                    </li>
                    <li>
                      <img class="avatar avatar-sm" src="/assets/portraits/8.jpg">
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-reverse timeline-item">
              <div class="timeline-content-wrap">
                <div class="timeline-dot bg-blue-600">
                  <i class="icon wb-image" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                  <div class="title">
                    <span class="authors">Alex Bender</span>uploaded 3 photos
                  </div>
                  <div class="metas">
                    active 2 hours ago
                  </div>
                  <ul class="photos">
                    <li class="cover">
                      <img class="cover-image" src="/assets/photos/animal-4-240x160.jpg">
                    </li>
                    <li class="cover">
                      <img class="cover-image" src="/assets/photos/animal-2-240x160.jpg">
                    </li>
                    <li class="cover">
                      <img class="cover-image" src="/assets/photos/animal-1-240x160.jpg">
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-reverse timeline-item">
              <div class="timeline-content-wrap">
                <div class="timeline-dot bg-cyan-600">
                  <i class="icon wb-file" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                  <div class="title">
                    <span class="authors">Jeff Erixon</span>
                    invite you to attend topic discussion in
                    <span class="room-number">B205</span>
                    classroom
                  </div>
                  <div class="metas">
                    active 4 hours ago
                  </div>
                  <div class="tags">
                    As user experience designers we have to find the sweet spot
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-reverse timeline-item">
              <div class="timeline-content-wrap">
                <div class="timeline-dot bg-orange-600">
                  <i class="icon wb-map" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                  <div class="title">
                    <span class="authors">Jeff Erixon</span>
                    invite you to attend topic discussion in
                    <span class="room-number">B205</span>
                    classroom
                  </div>
                  <div class="metas">
                    active 3 hours ago
                  </div>
                  <ul class="operates">
                    <li>
                      <button class="btn btn-outline btn-success btn-round">Accept</button>
                    </li>
                    <li>
                      <button class="btn btn-outline btn-danger btn-round">Refuse</button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Recent Activity -->
      <!-- End Second Row -->
    </div>
  </div>
</div>